<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Url Shortener</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
    <h2>URL Shortener</h2><br/>
    <form action="#" th:action="@{/}" th:object="${urlDTO}" method="post">
        <input type="text" th:field="*{url}" id="address"
               placeholder="Enter URL" required>
        <input type="submit" value="Shorten"><br/>
        <a th:if="*{shortUrl}" th:href="*{shortUrl}">
            <span th:text="*{shortUrl}"></span>
        </a>
        <p th:if="*{errorMessage}" th:text="*{errorMessage}"></p>
    </form>
</body>
</html>